@import url('https://fonts.googleapis.com/css?family=Pacifico|Russo+One&display=swap');

* h1 {
    color: #345385;
    background-color: #c9d0d6;
    font-size: 30px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/background1.jpg");
    background-blend-mode: color-dodge;
}

*{
    box-sizing: border-box;
    padding: 20px;
}
img{
    float: right;
}
p {
    background-color: #f9f7fa;
    outline-style: groove;
}

.answer {
    padding-left: 100px;
    background-blend-mode: saturation;
    background-image: url("images/extraredstripes.jpg");
    outline-style: ridge;
}

.question {
    background-blend-mode: overlay;
    background-image: url("images/redstripe.gif");
    outline-style: ridge;
}


 body {
    background-color: #cdc7d1;
    background-image: url("images/background4.jpg");
    font-family: 'Russo One', sans-serif;
    color: #482f59;
}